{{ define "title" }}Beaten Games{{ end }}

{{ define "content" }}

<form id="quick-add">
	<label for="name"><em>Quick add:</em></label>
	<input id="name" type="text" name="name" required />
	<input type="submit" value="add" />
</form>

<ol id="games-list">
	{{ range .Games }}
	<li data-game="{{ .Name }}">
		{{ .Name }}
		<em>(<a href="javascript:void(0)" onclick="deleteGame(this);">delete</a>)</em>
	</li>
	{{ end }}
</ol>

<p id="no-games" {{ if .Games }}style="display:none"{{ end }}>Didn't beat any games yet. :(</p>

	<script type="text/javascript">
		var gamesList = $("#games-list");
		var noGamesSign = $("#no-games");

		function refreshNoGamesSign() {
			if (gamesList.children().length > 0) {
				noGamesSign.hide();
			} else {
				noGamesSign.show();
			}
			return false;
		}

		$("#quick-add").submit(function() {
			gamesList.prepend("<li data-game=" + $("#name").val() + ">" + $("#name").val() + "</li>");
			refreshNoGamesSign();
			$.ajax({
				type: "POST",
				url: "/games/quick-add",
				data: $("#quick-add").serialize()
			})
			.done(function() {
	    	// Make item not grey
	    	var newGameItem = gamesList.children().first();
	    	newGameItem.append(' <em>(<a href="javascript:void(0)" onclick="deleteGame(this);">delete</a>)</em>');
		    })
			.fail(function(data, textStatus) {
		    	// Make item red
		    	// <abbr title="Failed to add this game :(">game title</abbr>
		    		console.log(textStatus);
		    });
			$("#name").val("");
			$("#name").focus();
		    return false; // previent actual form submission
		});

		function deleteGame(link) {
			var deleteBlock = link.parentNode;
			var item = deleteBlock.parentNode;
			var game = item.dataset.game;
			item.removeChild(deleteBlock);
		    // Make item grey
		    $.ajax({
		    	type: "POST",
		    	url: "/games/delete",
		    	data: { name: game }
		    })
		    .done(function() {	   
		    	item.parentNode.removeChild(item);
		    	refreshNoGamesSign();
		    })
		    .fail(function(data, textStatus) {
		    	console.log(textStatus);
		    });
		}


		var suggestions = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			remote: '/suggest/games?q=%QUERY'
		});
		suggestions.initialize();

		$('#name').typeahead(null, {
			source: suggestions.ttAdapter(),
			name: "eh",
			displayKey: 'name'
		});
</script>

{{ end }}
